<div class="form-group {{ form.containerStyle }}" ng-class="{'has-error': hasError(), 'has-success': hasSuccess(), 'has-feedback': form.feedback !== false}">
    <span>(model {{school | json}})</span>

    <typeahead
      data-ng-model="school"
      placeholder="Enter school"
      data-school="school"
      data-district="district"
      data-state="state"
      schools="getSchool($viewValue)"
      class="form-control" />
<!--
    <input type="text"
           data-ng-model="school"
           placeholder="Schools via $http"
           data-typeahead="school as School for school in getSchool($viewValue)"
           data-typeahead-loading="loadingSchools"
           class="form-control">
-->
    <i ng-show="loadingSchools" class="glyphicon glyphicon-refresh"></i>

  <label class="control-label" ng-show="showTitle()">{{form.title}}</label>
  <span ng-if="form.feedback !== false"
        class="form-control-feedback"
        ng-class="evalInScope(form.feedback)"></span>
  <div class="form-error-message"
       ng-show="(hasError() && errorMessage(schemaError()))"
       ng-bind-html="(hasError() && errorMessage(schemaError()))"></div>
</div>
